html,
body {
padding: 0;
background: #fff;
}

* {
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.mess{
  /* filter: invert(100%); */
}

svg{
    position:absolute;
    height:300px;
    width:300px;
    left: 200px;
    top: 200px;
    z-index: 1;
    /* filter: invert(100%); */
    mix-blend-mode: lighten;
  /* filter: difference;
}


ellipse{
  /* filter: invert(100%); */
}


.title {
  font-family: "NeueWorld-CondensedRegular";
  font-size: 6vw;
  line-height: 6vw;
  height: auto;
  width: 100%;
  color: black;
  justify-content: left;
}

.subtitle {
  font-family: "Syne";
  /* font-variation-settings: 'wght' 600; */
  /* ---- SYNE VARIABLE WEIGHT BETWEEN 400 - 800 ---- */
  font-weight: 600;
  font-size: 4vw;
  line-height: 4vw;
  height: auto;
  width: 100%;
  color: black;
  justify-content: left;
}

.bodytxt {
  font-family: "Syne";
  /* font-variation-settings: 'wght' 600; */
  /* ---- SYNE VARIABLE WEIGHT BETWEEN 400 - 800 ---- */
  font-weight: 400;
  font-size: 2vw;
  line-height: 2vw;
  height: auto;
  width: 100%;
  color: black;
  justify-content: left;
}

/* .spot{
  position:absolute;
  height:300px;
  width:300px;
  left: 500px;
  top: 100px;
  z-index: 1;
  /* mix-blend-mode: color-dodge; */
  /* filter: invert(100%); */
  /* filter: difference; */
/* } */
